@{
    ViewData["Title"] = "Game";
}

<main>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="card quadro text-center px-2 mb-4">
            <div class="d-flex justify-content-center gap-5 fs-2">
                <i class="bi bi-bar-chart" style="cursor: pointer;"></i>
                <i class="bi bi-diamond" style="cursor: pointer;"></i>
                <i class="bi bi-clipboard" style="cursor: pointer;"></i>
                <i class="bi bi-question-circle" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="card quadro text-center p-4 mb-4">
            <h4 class="mb-4 fw-bold">ADIVINHE QUAL É O PERSONAGEM DE<br>SQUID GAME DE HOJE!</h4>
            <div class="pista border border-4 py-2 px-3 mx-auto" style="cursor: pointer;">
                <div>
                    <img src="~/img/circle_triangle_square.png" class="img-fluid mt-1 mb-2" style="max-width: 100px;">
                    <p class="fw-semibold mb-0">PISTA DE PRIMEIRA<br>APARIÇÃO</p>
                </div>
            </div>
        </div>
        <div class="card quadro text-center px-2 mb-4" style="width: 370px;">
            <div class="d-flex justify-content-center">
                <form class="container p-1 pt-2" autocomplete="off" style="max-width: 500px;">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control border-2 tentaviva-border" id="tentativa"
                            name="tentativa" placeholder="Nome ou número do personagem" minlength="2" maxlength="50"
                            required>
                        <span class="input-group-text bg-white border-2 tentaviva-border" style="cursor: pointer;">
                            <img src="~/img/send-icon.png" style="width: 20px; height: 20px;">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
